.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  width: 500px;
  height: 100px;
  margin: 0 auto;
}

.tile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #f8b75a;
  color: #070202;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tile:not(.empty):hover {
  background-color: #ea4029;
  transition: 0.8s
}

.tile-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty {
  cursor: not-allowed;
  background-color: transparent;
  color: #070202;
}